<nav class="bottom-nav">
    <NavLink href="/" class="nav-item">Home</NavLink>
    <NavLink href="/records" class="nav-link" ActiveClass="active">
        Records
    </NavLink>
    <NavLink href="/reports" class="nav-item">Reports</NavLink>
    <NavLink href="/booking" class="nav-item">Booking</NavLink>
    <NavLink href="/wellness" class="nav-item">Wellness</NavLink>
</nav>
